.progress {
  background: #f3f3f3;
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 2px;
  display: flex;
  height: 8px;
  width: 100%;
}

.progress-value {
  animation: load 6s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;  /* smoother easing */
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #000000;
  height: 4px;
  width: 0;
}

@keyframes load {
  0% {
    width: 0;
  }
  50% {
    width: 100%;  /* Slowly fills the bar */
  }
  75% {
    width: 100%;  /* Hold the full progress */
  }
  100% {
    width: 0;  /* Fast return */
  }
}
