html {
  font-family: Poppins, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.contact {
  padding: 10px;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
input,
select,
textarea {
  color: #ffffff;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container {
  margin: 0 auto;
  max-width: 650px;
  max-height: 650px;
  position: relative;
  width: 100%;
}


h2 {
  color: #ffffff;
  font-size: 42px;
  font-weight: 500;
  letter-spacing: 3px;
  text-align: center;
}

.email {
  float: right;
  width: 45%;
}

input[type='text'],
[type='email'],
select,
textarea {
  background: none;
  border: none;
  border-bottom: solid 2px #ffffff; /* Changed border color to white */
  color: #ffffff;
  font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0em 0 1.875em 0;
  padding: 0 0 0.875em 0;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.3s;
}

input[type='text']:focus,
[type='email']:focus,
textarea:focus {
  outline: none;
  padding: 0 0 0.875em 0;
}

.message {
  float: none;
}

.name {
  float: left;
  width: 45%;
}

select {
  background: url('http://web.missouri.edu/~blly4b/ISLT7360/FinalProject/FINAL/icon-ios7-arrow-down-32.png') no-repeat right;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}

textarea {
  line-height: 150%;
  height: 150px;
  resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
  color: #ffffff;
}

#form_button {
  background: white; /* Default background white */
  border: solid 2px #ffffff; /* White border */
  color: #000000; /* Black text */
  cursor: pointer;
  display: inline-block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  transition: all 0.3s;
  width: 100%;
  border-radius: 10px;
}

#form_button:hover {
  background: #FFA500; /* Orange background on hover */
  color: #000000; /* Black text */
}

.message-sent {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
}



.submit {
  text-align: center;
}

#form_button:hover {
  background: #ffffff;
  color: #000000;

}
